@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    font-size:20px;
    background-color:green;
    }
img{
    height:200px;
    width:250px;
    }
img.eat{
    height:200px;
    width:270px;
    padding-left:225px;
    }
img.drink{
    height:200px;
    width:250px;
    padding-left:230px;
    }
h1{
    padding-left:20px;
    font-size:2em;
    font-family:"Archivo Black";
    }
h2.bad{
    font-family:"Quicksand";
    padding-left:500px;
    color: white
    }
h2.worse{
    font-family:"Quicksand";
    padding-left:500px;
    color: maroon
    }
h3{
    font-family:"Archivo Black";
    }
h4{
    font-family:"Federant";
    }
h2.my-link{
    font-family:"Roboto Mono";
    color: green;
    margin-left: 525px;
    }

h2.shrek{
    font-family:"Federant";
    color: blue;
    margin-left: 525px;
    }
a{
    text-decoration:blink;
    font-size:150%

    }


.blink {
  animation: blink 2s step-start infinite;
}
.geese{
    animation: blink 1s step-start infinite;
}
.goose{
    animation: blink 3s step-start infinite;
}

.rombo{
    margin-left:350px;
    }

.combo{
    margin-left:300px;
    }

img.boing{
    margin-left:50px;
    }

img.moving{
    padding-left:65px;
    }

img.fooling{
    padding-left:80px;
    }

.colorred{
    color:#E02D0B
    }

.colorblue{
    color:#2754F5;
    }

.colorgreen{
    color:#1AED67;
    font-size:1.5rem;
    }

.colorgold{
    color:#E0DB46;
    }

html{
    font-size:20px;
    font-style:italic
    }
