@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
body{
    font-size:20px;
    background-color:green;

    }
img{
    height:200px;
    width:250px;
    }
img.eat{
    height:200px;
    width:270px;
    padding-left:225px;
    }
img.drink{
    height:200px;
    width:250px;
    padding-left:230px;
    }
h1{
    padding-left:20px;
    }
p{
    font-family:"Roboto Mono";
    }
h2.bad{
    font-family:"Quicksand";
    padding-left:500px;
    color: white
    }
h2.worse{
    font-family:"Quicksand";
    padding-left:500px;
    color: maroon
    }
h3{
    font-family:"Archivo Black";
    }
h4{
    font-family:"Federant";
    }
h2.my-link{
    font-family:"Roboto Mono";
    color: green;
    margin-left: 525px;
    }

h2.shrek{
    font-family:"Federant";
    color: blue;
    margin-left: 525px;
    }
a{
    text-decoration:blink;
    font-size:150%

    }


.blink {
  animation: blink 2s step-start infinite;
}
.geese{
    animation: blink 1s step-start infinite;
}
.goose{
    animation: blink 3s step-start infinite;
}


img.boing{
    margin-left:50px;
    }

img.moving{
    padding-left:65px;
    }

img.fooling{
    padding-left:80px;
    }