@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
body{
    background-color:aqua;
    padding-right:100px
    padding-left:100px
    }
img{
    height:200px;
    width:250px;
    }
img.eat{
    height:200px;
    width:270px;
    padding-left:225px;
    }
img.drink{
    height:200px;
    width:250px;
    padding-left:230px;
    }
h1{
    padding-left:420px;
    }
p{
    font-family:"Roboto Mono";
    }
h2.bad{
    font-family:"Quicksand";
    padding-left:500px;
    color: white
    }
h2.worse{
    font-family:"Quicksand";
    padding-left:500px;
    color: maroon
    }
h3{
    font-family:"Archivo Black";
    }
h4{
    font-family:"Federant";
    }
h2.my-link{
    font-family:"Roboto Mono";
    color: green;
    padding-left: 525px;
    }

h2.shrek{
    font-family:"Federant";
    color: blue;
    padding-left: 525px;
    }