@media screen and (max-width: 992px) {
  .pizza {
    background-color: green;
  }
}

@media screen and (max-width: 500px) {
  div .texture2{
    width: 750px;
    height: 410px;
    border: 10px solid blue!important;
    border-radius: 50px;
    }
}

